<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Model2MVCCRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertView</servlet-name>
    <servlet-class>controller.StudentInsertView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertView</servlet-name>
    <url-pattern>/inputView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertResult</servlet-name>
    <servlet-class>controller.StudentInsertPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertResult</servlet-name>
    <url-pattern>/inputPro.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contentView</servlet-name>
    <servlet-class>controller.StudentContentView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contentView</servlet-name>
    <url-pattern>/contentview.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>controller.StudentUpdatePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/StudentUpdatePro.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>controller.StudentDeletePro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
</web-app>